/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

body {
  display: grid;
  place-content: center;
  min-height: 100vh;
  text-align: center;
  grid-auto-columns: auto;
    grid-auto-rows: auto;
  grid-template-areas: 
    "header"
    "nav"
    "edition-banner"
    "main"
    "footer";
}
.weekly-blog-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5rem;
    border-radius: 4px;
    grid-template-areas: 
    "deep"
    "short"
    "one-word"
    "quote"
    "pemdas";
}
/*
.page-details {
    border-radius: 4px;
    border: 4px solid #ccc;
}
*/

.article-section {
    border: 4px solid #333;
    border-radius: 4px;
}

.intro {
  background-color: #333;
  color: white;
  padding: 1rem 0;
  text-align: center;
}
.edition-banner {
    background-color: rgb(201, 32, 32);
    color: white;
    font-size: 0.9em;
}
.red-background {
  background-color: rgb(126, 4, 4);
}

.menu-bar { 
    display: grid;
    list-style-type: none;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: #444;
    color: white;
    align-items: center;
    padding-inline-start: 0;
    margin: 0;
}
.menu-bar li {
    color: white;
}
.menu-bar li:hover {
    background-color: #666;
    cursor: pointer;
}
.menu-bar a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 0.5em;
}

header { grid-area: header;}

div.edition-banner { grid-area: edition-banner;}
nav { grid-area: nav;}
main { grid-area: main;}
footer { grid-area: footer;}

.deep-dive { grid-area: deep;}
.short-read { grid-area: short;}
.one-word { grid-area: one-word;}
.quote { grid-area: quote;}
.pemdas { grid-area: pemdas;}